# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Processed data & model artifacts
model_image.pth
ensemble_image/
hand_landmarker.task
face_landmarker.task

# Dataset videos (too large for git)
Dataset/
augmented_dataset/
assets/
archive (1)/
archive (2)/
archive/


# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
